package pages

import (
	"blog-system/views/layouts"
	"blog-system/internal/auth"
)

templ Login(user *auth.UserContext) {
	@layouts.Base("Login", user) {
		@LoginFormOnly("")
	}
}

templ Register(user *auth.UserContext) {
	@layouts.Base("Register", user) {
		@RegisterFormOnly("")
	}
}
